body {
  background: #faefe6;
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.continent-container {
  display: flex;
}

.continent-container > button {
  text-align: center;
  width: 5rem;
  height: 2rem;
  background: #b4dce4;
  margin-left: 2rem;
  border-radius: 0.5rem;
}

.chart-container {
  width: 70rem;
  height: 30rem;
}

.country-container {
  display: flex;
  width: 70rem;
  height: 15rem;
  flex-wrap: wrap;
}
.country-container > button {
  text-align: center;
  width: 5rem;
  height: 2rem;
  background: #b4dce4;
  margin-left: 2rem;
  border-radius: 0.5rem;
}
